{% extends '::base.html.twig' %}

{% block body %}

<form action="{{ path('project_edit_post', { 'id':post.id }) }}" method="post" {{ form_enctype(form)  }}>
	<fieldset>
		{{ form_widget(form) }}

		<input type="submit" />
	</fieldset>
</form>

{% endblock %}