{% extends '::base.html.twig' %}

{% block body %}

<form method="post" action="/app_dev.php/submit_post">
	<fieldset>
		<label>Title:</label>
		<input type="text" name="title" />

		<label for="post">Post:</label>
		<textarea name="post" id="post"></textarea>

		<label for="name">Name:</label>
		<input type="text" id="name" name="author" />

		<input type="submit" value="Submit" />
	</fieldset>
</form>

{% endblock %}